# Compiled Object files
*.slo
*.lo
*.o
*.ilk
*.pdb
*.exe

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio Build Files
*.tlog
*.obj
*.manifest
*.manifest.res
*manifest.rc
*.idb
*.lastbuildstate
